@media screen and (max-width: 320px) {
  .pokemon-card {
    width: 70%;
  }
  .pokemon-card img {
    width: 90px;
    height: 80px;
  }
  .pokemon-card .pokemon-name {
    font-size: 1rem;
  }
  .pokemon-card .pokemon-info {
    font-size: 0.8rem;
  }

  .pokemon-card a {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 30px 0 30px;
    text-decoration: none;
  }
}
@media screen and (max-width: 375px) {
  .pokemon-card {
    width: 70%;
  }
  .pokemon-card img {
    width: 90px;
    height: 80px;
  }
  .pokemon-card .pokemon-name {
    font-size: 1rem;
  }
  .pokemon-card .pokemon-info {
    font-size: 0.8rem;
  }

  .pokemon-card a {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 30px 0 30px;
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  .pokemon-card img {
    width: 90px;
    height: 80px;
  }
  .pokemon-card .pokemon-name {
    font-size: 1rem;
  }
  .pokemon-card .pokemon-info {
    font-size: 0.8rem;
  }

  .pokemon-card a {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 30px 0 30px;
    text-decoration: none;
  }
}
.datapokemons-container img {
  width: 200px;
  height: 200px;
}
.datapokemons-container {
  text-align: center;
  margin: 0 auto;
  background-color: #00ffeaab;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
  max-width: 400px;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.0;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  font-weight: 700;
  font-size: 1.50rem;
  margin: 0.5rem 0;
}
p {
  font-size: 1.7rem;
  margin: 0.5rem 0;
color: rgb(211, 211, 66);
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #d9ff00;
  transition: color 0.6s ease;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px; 
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 153, 255, 0.8);
}
nav ul li {
  margin: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #242424;
  font-weight: bold;
}
nav ul li a:hover {
  color: #d9ff00;
  transition: color 0.6s ease;
}
div {
  text-align: center;
  margin: 0 auto;
}
.pokemon-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.pokemon-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #00ffeaab;
  margin: 0;
  display: flex;
  flex-direction: column;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
}
.pokemon-card:hover {
  transform: scale(1.10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card .pokemon-id {
  color: yellow;
  font-size: 0.9rem;
}

.pokemon-card img {
  width: 150px;
  height: 150px;
}
.btn-cargar-mas {
  background-color: #359c4b;
  border: none;
  padding: 8px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin: 0 10px;
}

.btn-cargar-mas a {
  color: #dceedd;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: yellow;
}

.home-botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
